<!DOCTYPE html>
<html lang="fi">

<head>
  <title>{% block title %}Elokuva-arviot{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="/static/main.css">
  {% block extra_head %}{% endblock %}
</head>

<body>
  <div class="header" id="fixed_header">
    <nav class="container">
      <div class="header-content">
        <div class="cinemankey_logo">
          <a href="/" role="link" aria-label="Cinemankey etusivu">
            <img role="img" src="{{ url_for('static', filename='images/monkey.png') }}" alt="Logo" class="logo">
          </a>
        </div>
        <span class="header-text">Cinemankey - elokuva-arvostelut</span>
      </div>
    </nav>
  </div>

  {% block content %}{% endblock %}
</body>
</html>
