<!DOCTYPE html>
<html>

<head>
  <title>Elokuvan tietojen muokkaus</title>
</head>

<body>
  <h1>Elokuvan tietojen muokkaus</h1>
  <form action="/update_movie" method="post">
    <p>
      Elokuvan nimi: <br />
      <input type="text" name="title" value="{{ movie.title }}"/>
    </p>
    <p>
      Ohjaaja: <br />
      <input type="text" name="director" value="{{ movie.director }}"/>
    </p>
    <p>
      Julkaisuvuosi: <br />
      <input type="text" name="year" value="{{ movie.year }}"/>
    </p>
    <p>
      Elokuvan kuvaus: <br />
      <textarea name="description" rows="8" cols="60">{{ movie.description }}</textarea>
    </p>
    <p>Elokuvan genret:</p>
    <p>
      <input type="checkbox" name="genre" value="draama" {% if "draama" in movie.genre %}checked{% endif %} /> draama
      <input type="checkbox" name="genre" value="komedia" {% if "komedia" in movie.genre %}checked{% endif %}/> komedia
      <input type="checkbox" name="genre" value="dokumentti" {% if "dokumentti" in movie.genre %}checked{% endif %}/> dokumentti
      <input type="checkbox" name="genre" value="musikaali" {% if "musikaali" in movie.genre %}checked{% endif %}/> musikaali
      <input type="checkbox" name="genre" value="toiminta" {% if "toiminta" in movie.genre %}checked{% endif %}/> toiminta
    </p>
    <p>
      <input type="checkbox" name="genre" value="seikkailu" {% if "seikkailu" in movie.genre %}checked{% endif %}/> seikkailu
      <input type="checkbox" name="genre" value="rakkaus" {% if "rakkaus" in movie.genre %}checked{% endif %}/> rakkaus
      <input type="checkbox" name="genre" value="kauhu" {% if "kauhu" in movie.genre %}checked{% endif %}/> kauhu
      <input type="checkbox" name="genre" value="scifi" {% if "scifi" in movie.genre %}checked{% endif %}/> scifi
      <input type="checkbox" name="genre" value="western" {% if "western" in movie.genre %}checked{% endif %}/> western
    </p>
    <input type="hidden" name="movie_id" value="{{ movie.id }}" />
    <input type="submit" value="Päivitä elokuvan tiedot" />
  </form>
</body>

</html>
