{% extends "base.html" %}

{% block title %}Arvostelun muokkaus{% endblock %}

{% block content %}
  <h2>Muokkaa arvostelua</h2>
  <form action="/edit_review/{{ review.id }}" method="post">
    <p>
      <label for="rating">Arvosana (1-5):</label>
      <input type="number" id="rating" name="rating" value="{{ review.rating_value }}" min="1" max="5" required /> &#9733
    </p>
    <p>
      <textarea name="review" rows="8" cols="60" maxlength="1000" required>{{ review.review }}</textarea>
    </p>
    <p>
      <input type="hidden" name="movie_id" value="{{ review.movie_id }}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" name="confirm" value="Muokkaa arvostelua" />
      <input type="submit" value="Peruuta" />
    </p>
  </form>
{% endblock %}