{% extends "base.html" %}

{% block title %}Elokuvan tietojen muokkaus{% endblock %}

{% block content %}
  <h1>Elokuvan tietojen muokkaus</h1>
  <form action="/update_movie" method="post" onsubmit="return validateForm()">
    <p>
      <label for="title">Elokuvan nimi:</label><br />
      <input type="text" id="title" name="title" value="{{ movie.title }}" maxlength="50" required/>
    </p>
    <p>
      <label for="director">Ohjaaja:</label><br />
      <input type="text" id="director" name="director" value="{{ movie.director }}" maxlength="50" required/>
    </p>
    <p>
      <label for="year">Julkaisuvuosi:</label><br />
      <input type="text" id="year" name="year" value="{{ movie.year }}" pattern="[1-9][0-9]{0,3}" required/>
    </p>
    <p>
      <label for="description">Elokuvan kuvaus:</label><br />
      <textarea id="description" name="description" rows="8" cols="60" maxlength="1000" required>{{ movie.description }}</textarea>
    </p>
    {% for class in all_classes %}
    <p>
      <label for="class_{{ class }}">
        {{ class }}
      </label> <br />
      <select id="class_{{ class }}" name="classes">
        <option value="">(valitse)</option>
      {% for option in all_classes[class] %}
        {% if classes[class] == option %}
        <option value="{{ class}}:{{ option }}" selected>{{ option }}</option>
        {% else %}
        <option value="{{ class}}:{{ option }}">{{ option }}</option>
        {% endif %}
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="hidden" name="movie_id" value="{{ movie.id }}" />
    <input type="submit" name="confirm" value="Päivitä elokuvan tiedot" />
    <input type="submit" value="Peruuta" />
  </form>
{% endblock %}