{% extends "base.html" %}

{% block title %}Hae elokuvaa{% endblock %}

{% block content %}

  <h1>Hae elokuvaa</h1>

  <form action="/find_movie" method="get">
    <p>Hae elokuvaa elokuvan nimen, kuvauksen tai ohjaajan nimen perusteella.</p>
    <p>
      <label for="query">Hakusana: </label>
      <input type="text" id="query" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Lähetä">
  </form>

  <p>
    <button onclick="history.back()">Takaisin</button>
  </p>

  {% if query %}
  <h2>Tulokset</h2>

  <ul>
    {%for movie in results %}
    <li><a href="/movie/{{ movie.id }}">{{ movie.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

{% endblock %}
