<!DOCTYPE html>
<html>

<head>
  <title>Elokuva-arviot</title>
</head>

<body>
  <h1>Elokuva-arviot</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, id-numero {{ session.user_id }}
  </p>
  {% endif %}

  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
    <a href="/logout">Kirjaudu ulos</a>
  </p>

  <p>
    <a href="/new_movie">Lisää elokuva</a>
  </p>

  <h2>Elokuvat</h2>
  <ul>
    {% for movie in movies %}
    <li><a href="/movie/{{ movie.id }}">{{ movie.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>
