{% extends "base.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}
  <h2>Tervetuloa Cinemankey-sivustolle!</h2>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  <p>
    <a href="/new_movie">Lisää elokuva</a>
  </p>

  {% else %}

  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
  </p>

  {% endif %}

  <p>
    <a href="/find_movie">Hae elokuvaa</a>
  </p>
  <hr>
  <h2>Elokuvat</h2>
  {% for movie in movies %}
  <li><a href="/movie/{{ movie.id }}">{{ movie.title }}</a></li>
  <p>Tähän tulee arvostelujen keskiarvo</p>
  <hr>
  {% endfor %}
{% endblock %}
