<!DOCTYPE html>
<html>

<head>
  <title>Lisää elokuva</title>
  <script>
    function validateForm() {
      var checkboxes = document.getElementsByName("genre");
      var isChecked = false;
      for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
          isChecked = true;
          break;
        }
      }
      if (!isChecked) {
        alert("Valitse vähintään yksi genre.");
        return false; // estää lomakkeen lähettämisen
      }
      return true; // lähettää lomakkeen
    }
  </script>
</head>

<body>
  <h1>Lisää elokuva</h1>
  <form action="/create_movie" method="post" onsubmit="return validateForm()">
    <p>
      Elokuvan nimi: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Ohjaaja: <br />
      <input type="text" name="director" maxlength="50" required/>
    </p>
    <p>
      Julkaisuvuosi: <br />
      <input type="text" name="year" pattern="[1-9][0-9]{0,3}" required/>
    </p>
    <p>
      Elokuvan kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>Elokuvan genret:</p>
    <p>
      <input type="checkbox" name="genre" value="draama" /> draama
      <input type="checkbox" name="genre" value="komedia" /> komedia
      <input type="checkbox" name="genre" value="dokumentti" /> dokumentti
      <input type="checkbox" name="genre" value="musikaali" /> musikaali
      <input type="checkbox" name="genre" value="toiminta" /> toiminta
    </p>
    <p>
      <input type="checkbox" name="genre" value="seikkailu" /> seikkailu
      <input type="checkbox" name="genre" value="rakkaus" /> rakkaus
      <input type="checkbox" name="genre" value="kauhu" /> kauhu
      <input type="checkbox" name="genre" value="scifi" /> scifi
      <input type="checkbox" name="genre" value="western" /> western
    </p>
    <input type="submit" value="Lisää elokuva" />
  </form>
</body>

</html>
