<!DOCTYPE html>
<html>

<head>
  <title>Lisää elokuva</title>
</head>

<body>
  <h1>Lisää elokuva</h1>
  <form action="/create_movie" method="post">
    <p>
      Elokuvan nimi: <br />
      <input type="text" name="title" />
    </p>
    <p>
      Ohjaaja: <br />
      <input type="text" name="director" />
    </p>
    <p>
      Julkaisuvuosi: <br />
      <input type="text" name="year" />
    </p>
    <p>
      Elokuvan kuvaus: <br />
      <textarea name="description" rows="8" cols="60"></textarea>
    </p>
    <p>Elokuvan genret:</p>
    <p>
      <input type="checkbox" name="genre" value="draama" /> draama
      <input type="checkbox" name="genre" value="komedia" /> komedia
      <input type="checkbox" name="genre" value="dokumentti" /> dokumentti
      <input type="checkbox" name="genre" value="musikaali" /> musikaali
      <input type="checkbox" name="genre" value="toiminta" /> toiminta
    </p>
    <p>
      <input type="checkbox" name="genre" value="seikkailu" /> seikkailu
      <input type="checkbox" name="genre" value="rakkaus" /> rakkaus
      <input type="checkbox" name="genre" value="kauhu" /> kauhu
      <input type="checkbox" name="genre" value="scifi" /> scifi
      <input type="checkbox" name="genre" value="western" /> western
    </p>
    <input type="submit" value="Lisää elokuva" />
  </form>
</body>

</html>
