{% extends "base.html" %}

{% block title %}Lisää elokuva{% endblock %}

{% block content %}
  <h1>Lisää elokuva</h1>
  <form action="/create_movie" method="post" onsubmit="return validateForm()">
    <p>
      <label for="title">Elokuvan nimi:</label> <br />
      <input type="text" id="title" name="title" maxlength="50" required/>
    </p>
    <p>
      <label for="director">Ohjaaja:</label> <br />
      <input type="text" id="director" name="director" maxlength="50" required/>
    </p>
    <p>
      <label for="year">Julkaisuvuosi:</label> <br />
      <input type="text" id="year" name="year" pattern="[1-9][0-9]{0,3}" required/>
    </p>
    <p>
      <label for="description">Elokuvan kuvaus:</label> <br />
      <textarea id="description" name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    {% for class in classes %}
    <p>
      <label for="class_{{ class }}">
        {{ class }}
      </label> <br />
      <select id="class_{{ class }}" name="classes">
        <option value="">(valitse)</option>
     {% for option in classes[class] %}
        <option value="{{ class}}:{{ option }}">{{ option }}</option>
     {{ option }}
     {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lisää elokuva" />
  </form>
  <br />
  <form action="/">
    <input type="submit" value="Palaa etusivulle" />
  </form>
{% endblock %}