{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
  <h1>{{ movie.title }}</h1>
  {% if session.user_id == movie.user_id %}
  <p>
    <a href="/edit_movie/{{ movie.id }}">Muokkaa</a>
    <a href="/remove_movie/{{ movie.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    {{ movie.year }} - {{ movie.director }}
  </p>
  <p>
    ({% set genre_list = movie.genre.split(',') %}
    {{ genre_list | join(', ') }} )
  </p>
  <p>
    {{ movie.description }}
  </p>
  <h2>Arvostelut</h2>
  {% for review in reviews %}
    <li class="review-item" onclick="location.href='/review/{{ review.id }}'">
      <strong>{{ "★" * review.value }}</strong> - 
      <a href="/user/{{ review.user_id }}" onclick="event.stopPropagation();">
        {{ review.username }}</a>
      <p>{{ review.review }}</p>
      <hr>
    </li>
  {% else %}
    Ei arvosteluja.
  {% endfor %}
  <h3>Uusi arvostelu</h3>
  <form action="/create_review" method="post">
    <p>
      Arvosana (1-5):
      <input type="number" name="rating" min="1" max="5" required /> &#9733
    </p>
    <p>
      <textarea name="review" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      <input type="hidden" name="movie_id" value="{{ movie.id }}">
      <input type="submit" value="Arvostele" />
    </p>
  </form>
  <p>
    <button onclick="window.location.href='/'">Takaisin</button>
  </p>

{% endblock %}