{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>Käyttäjä {{ user.username }}</h1>

  {% if user.has_image %}
  <img src="/image/{{ user.id }}" alt="Käyttäjän {{ user.username }} profiilikuva" class="profile-image" />
  {% endif %}

  {% if session.user_id == user.id %}
    {% if user.has_image %}
    <p>
      <a href="/add_image">Päivitä profiilikuva</a>
      <a href="/remove_image">Poista profiilikuva</a>
    </p>
    {% else %}
    <p>
      <a href="/add_image">Lisää profiilikuva</a>
    </p>
    {% endif %}
  {% endif %}

  <p>
    <p>
      Käyttäjällä on yhteensä {{ reviews | length }} arvostelua
    </p>

    <h2>Arvostelut</h2>
    {% for review in reviews %}
      <li><a href="/review/{{ review.id }}">{{ review.movie_title }}</a></li>
    {% else %}
      <p>Ei arvosteluja.</p>
    {% endfor %}
  </p>

  <p>
    <button onclick="history.back()">Takaisin</button>
  </p>
{% endblock %}