{% extends "base.html" %}

{% block title %}Arvostelu: {{ review.movie_title }}{% endblock %}

{% block content %}
  <h2>Arvostelu elokuvasta: <a href="/movie/{{ review.movie_id }}">
    {{ review.movie_title }}</a></h2>
  {% if session.user_id == review.user_id %}
  <p>
    <a href="/edit_review/{{ review.id }}">Muokkaa</a>
    <a href="/remove_review/{{ review.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    <a href="/user/{{ review.user_id }}">{{ review.username }}</a> {{ review.time }}
  </p>
  <p>
    Arvosana: <strong>{{ "★" * review.rating_value }} </strong>
  </p>
  <p>
    <pre>{{ review.review | escape }}</pre>
  </p>
  <hr>
  <h2>Kommentit</h2>
  {% for comment in comments %}
    <li class="comment-item">
      <a href="/user/{{ comment.user_id }}" class="review-user">
        {{ comment.username }}</a> {{ comment.time }}
      <p>
        <a href="/comment/{{ comment.id }}" class="comment-link">
        <pre>{{ comment.comment | escape }}</pre>
        </a>
      </p>
    </li>
  {% else %}
    Ei kommentteja.
  {% endfor %}
  <label for="comment"><h3>Uusi kommentti</h3></label>
  <form action="/create_comment" method="post">
    <p>
      <textarea id="comment" name="comment" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      <input type="hidden" name="review_id" value="{{ review.id }}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Kommentoi" />
    </p>
  </form>
  <form action="/movie/{{ review.movie_id }}">
    <input type="submit" value="Palaa elokuvaan" />
  </form>

{% endblock %}