{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
  <h1>{{ movie.title }}</h1>
  {% if session.user_id == movie.user_id %}
  <p>
    <a href="/edit_movie/{{ movie.id }}">Muokkaa</a>
    <a href="/remove_movie/{{ movie.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    {{ movie.year }} - {{ movie.director }}
  </p>
  {% if classes %}
  <p>
    {% for class in classes %}
    <li>{{ class.title }}: {{ class.value }}</li>
    {% endfor %}
  </p>
  {% endif %}
  <p>
    {{ movie.description | replace("\n", "<br>") | safe }}
  </p>
  <h2>Arvostelut</h2>
  {% for review in reviews %}
    <li class="review-item" onclick="location.href='/review/{{ review.id }}'">
      <strong>{{ "★" * review.value }}</strong> - 
      <a href="/user/{{ review.user_id }}" onclick="event.stopPropagation();">
        {{ review.username }}</a>
      <p>{{ review.review | replace("\n", "<br>") | safe }}</p>
      <hr>
    </li>
  {% else %}
    Ei arvosteluja.
  {% endfor %}
  <label for="review"><h3>Uusi arvostelu</h3></label>
  <form action="/create_review" method="post">
    <p>
      <label for="rating">Arvosana (1-5):</label>
      <input type="number" id="rating" name="rating" min="1" max="5" required /> &#9733
    </p>
    <p>
      <textarea id="review" name="review" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      <input type="hidden" name="movie_id" value="{{ movie.id }}">
      <input type="submit" value="Arvostele" />
    </p>
  </form>
  <p>
    <button onclick="window.location.href='/'">Takaisin</button>
  </p>

{% endblock %}