{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
  <h1>{{ movie.title }}</h1>
  {% if session.user_id == movie.user_id %}
  <p>
    <a href="/edit_movie/{{ movie.id }}">Muokkaa</a>
    <a href="/remove_movie/{{ movie.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    {{ movie.year }} - {{ movie.director }}
  </p>
  <p>
    ({% set genre_list = movie.genre.split(',') %}
    {{ genre_list | join(', ') }} )
  </p>
  <p>
    {{ movie.description }}
  </p>
  <p>
    <a href="/">Takaisin</a>
  </p>

{% endblock %}