{% extends "base.html" %}

{% block title %}Kommentti: {{ comment.id }}{% endblock %}

{% block content %}
  <h2>Vastaus käyttäjän {{ review.user_id }} arvosteluun</h2>
  {% if session.user_id == comment.user_id %}
  <p>
    <a href="/edit_comment/{{ comment.id }}">Muokkaa</a>
    <a href="/remove_comment/{{ comment.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a> {{ comment.time }}
  </p>
  <p>{{ comment.comment }}</p>
  <hr>
  <p>
    <button onclick="history.back()">Takaisin</button>
  </p>

{% endblock %}