{% extends "base.html" %}

{% block title %}Arvostelu: {{ review.movie_title }}{% endblock %}

{% block content %}
  <h2>Arvostelu elokuvasta: <a href="/movie/{{ review.movie_id }}">
    {{ review.movie_title }}</a></h2>
  {% if session.user_id == review.user_id %}
  <p>
    <a href="/edit_review/{{ review.id }}">Muokkaa</a>
    <a href="/remove_review/{{ review.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    <a href="/user/{{ review.user_id }}">{{ review.username }}</a> {{ review.time }}
  </p>
  <p>
    Arvosana: <strong>{{ "★" * review.rating_value }} </strong>
  </p>
  <p>{{ review.review }}</p>
  <hr>
  <h3>Kommentit</h3>
  {% for comment in comments %}
    <li class="comment-item" onclick="location.href='/comment/{{ comment.id }}'">
      <a href="/user/{{ comment.user_id }}" onclick="event.stopPropagation();">
        {{ comment.username }}</a> {{ comment.time }}
      <p>{{ comment.comment }}</p>
      <hr>
    </li>
  {% else %}
    Ei kommentteja.
  {% endfor %}
  <h3>Uusi kommentti</h3>
  <form action="/create_comment" method="post">
    <p>
      <textarea name="comment" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      <input type="hidden" name="review_id" value="{{ review.id }}">
      <input type="submit" value="Kommentoi" />
    </p>
  </form>
  <p>
    <button onclick="history.back()">Takaisin</button>
  </p>

{% endblock %}